#wall .tag-1 {
  display: none;
}

#wall div#tag-2 {
  display: none;
}

#wall .parent {
  display: none;
} 
 
#wall div#tag-3.slick-wicked {
  display: none;
}

#wall .parent #tag-4 {
  display: none;
}

#wall .parent .slick {
  display: none;
}

#wall .parent div div#tag-6 {
  display:none;
}

#wall .parent div div#tag-7 {
  display: none;
}

